<!DOCTYPE html>
<html lang="en" ng-app="blitzer">

  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/blitzer.js"></script>
    </script>
  </head>

  <body>
    <div class="container" ng-controller="HistoryController as historyCtrl">
      <div class="row col-md-8 col-md-offset-2" ng-repeat="ev in historyCtrl.events">
        <h1>{{ev.probe_name}}</h1>
        <!-- 'shell' probe -->
        <pre ng-show="{{ev.probe_type === 'shell'}}">{{ev.values.output}}</pre>
        <!-- 'graphite' probe -->
        <img ng-src="{{ev.values.img_url}}" />
      </div>
    </div>
  </body>

</html>
